<!DOCTYPE html>
<html>
<head>
	<title>About Us </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="\Final Deliverables\Final Code\static\about.css">
</head>	
<body>
<div class="main">
 <div class="navbar">
            <div class="icon">
            <h2 class="logo">Plasma</h2>
            </div>

			<div class="menu">
                <ul>
                    <li><a href="home.html">HOME</a></li>
                    <li><a href="aboutus.html">ABOUT</a></li>
                    <li><a href="Recipient Form.html">RECIPIENT</a></li>
                     <li><a href="Donate form.html">DONOR</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
				    <h2>PLASMA DONOR APPLICATION</h2>
					<h3 style="font-family: Times new roman">"Life is the most valuable thing to all of mankind, be it our own or our loved ones"</h3>
					<p>A very prevalent but preventable reason for deaths today is the lack of availability of blood at the necessary moment.
					Our project looks towards providing a helping hand to this problem by providing the following features:
					For a donor, we provide an online registration form so that they would spend the least 
					amount of time on technical procedures during donation, a list of hospitals so that they can
					navigate to the one closest to them. Our contact details allow them to make an appointment before arriving as well.
					Allow hospitals to register with us and have an account. This provides them with easy access,
					especially in times of emergency, to a common database of all the donors that we receive.
					In addition to the donation process itself our website also provide donors with all 
					the information they will need about blood donation from how they know if they can donate, 
					along with a simple eligibility quiz, to a walkthrough of the entire process itself.
					Our site also displays stories of people whose lives were saved from blood donation</p>
					<div class="button">
						<a href="contact.html">Read More</a>
					</div>
				</div>
				
			</div>
			<div class="image-section">
				<img src="\Final Deliverables\Final Code\assets\aboutimage.jpg">
			</div>
		</div>
	</div>
	</div>

	
</body>
</html>