<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/donar.css">
    <link rel="stylesheet" href="assets/plugins/grid-gallery/css/grid-gallery.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
    <title>Admin Page</title><header class="p-3 text-bg-dark">
          
    
    </header>
  </head>
  <body>
    <div class="loader_bg">
      <div class="loader"></div>
    </div>
    <br><a href="/mail">
      <button style="margin-left: 1400px;" type="button" class="btn btn-success">Mail</button></a>

    <br><br><br><br><br>



     <div class="content-center">
        <center>
            <button type="button" class="btn btn-warning btn-lg"><a href="/plasmadon">Donation requests</a></button>
            <br><br>
            <button type="button" class="btn btn-danger btn-lg"><a href="/plasmarec">Recipient requests</a></button>
        </center>
     
        
        
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
  <style>
        body{
      background: rgb(2,0,36);
      background: rgb(9, 9, 45);
    } 
    button a:link { 
  text-decoration: none;
  color: #000000;
}
button a:visited { text-decoration: none; color:#ffffff;}

button a:hover { text-decoration: none; color:#ffffff; }

a:active { text-decoration: none; color: #ffffff;}

table, th, td {
  border: 1px solid black;
}

  </style>

<script>
  setTimeout(function(){
      $('.loader_bg').fadeToggle();
  }, 1600);
</script>
</html>