<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="\Final Deliverables\Final Code\static\home.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Plasma</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="home.html">HOME</a></li>
                    <li><a href="aboutus.html">ABOUT</a></li>
                    <li><a href="Recipient Form.html">RECIPIENT</a></li>
                     <li><a href="Donate form.html">DONOR</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
        <div class="content">
            <h1><span>Plasma donor</span> <br><span>Application</span></h1><br>
            <p class="par">An application project designed to help COVID-19 patients. 
			<br>The Plasma Donors connect instantly with those in need as per matching<br> 
			blood groups to speed up their level of health.<br>
			This website helps in connecting patients and the plasma Donors.</p>

                

                <div class="form">
                    <h2> Admin Login Here</h2>
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="" placeholder="Enter Password Here">
                    <button class="btnn"><a href="/adminlogin">Login</a></button>

                <!-- <p class="link">Don't have an account<br>
                    <a href="Signup.html">Sign up </a> here</a></p>
                -->

                </div>
                    </div>
                </div>
        
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>